/*
 * @Author:Alberto Acuña (Beto)
 * bto css v1
 * created: 20/12/16
 */

/*menu compact*/
/* example:
<div class="menu compact horizontal">
    <div class="option">works</div>
    <div class="option active">works</div>
    <div class="option">works</div>
    <div class="option">works</div>
  </div>
*/
div.menu:hover{
   cursor:pointer;
}
div.menu.compact{
   color:#222;
   border-radius:5px;
   border:1px solid rgba(150,150,150,1);
   display: -ms-flex;
   display: -webkit-flex;
   display:flex;
   -webkit-flex-direction:row;
   -ms-flex-direction:row;
   flex-direction:row;
}
div.menu.compact.vertical{
   -webkit-flex-direction:column;
   -ms-flex-direction:column;
   flex-direction:column;
}
div.menu.compact>div.option+div.option{
   border-left:1px solid rgba(150,150,150,1);
}
div.menu.compact>div.option{
   text-align:center;
   padding:5px 8px;
   flex:1;
}
div.menu.compact>div.option:hover,
div.menu.compact>div.option.active{
   background-color: rgba(150,150,150,.2);
}
div.menu.compact>div.option.active:hover{
   background-color: rgba(150,150,150,.3);
}

/*search input*/
input.bto.search{
    border:2px solid #dadada;
    border-radius:7px;
    padding:5px 5px 3px 5px;
}
input.bto.search:focus{
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

/*<div class="verticalLine">some other content</div>*/
.bto.lineV{
   height: 100%;
   width: 1px;
   border-left: 1px solid gray;
}

/*
<div class="bto lineH"><span>THIS IS A TEST</span></div>
*/
.bto.lineH{
   width:100%;
   text-align:center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.bto.lineH > span{
   background:#fff;
   padding:0 10px;
}

/*blocks*/
.bto.inblock{display:inline-block;}
.bto.inblock.top{vertical-align:top;}

/*thumb*/
.bto.thumb{background-repeat:no-repeat!important;background-position:50% 50%!important;}
.bto.thumb:hover{opacity:.85!important;}
.bto.thumb.square{border-radius:.2em!important;}
.bto.thumb.circle{border-radius:10em!important;}

/*define container as main block*/
.bto.container{display:block!important;max-width:100%!important;min-width:100%!important;width:1px!important;max-height:100%!important;min-height:100%!important;height:1px!important;}

/*position*/
.bto.centerXY{left:50%;top:50%;transform:translate(-50%,-50%);position:inherit;}
.bto.centerX{left:50%;transform:translateX(-50%);position:inherit;}
.bto.centerY{top:50%;transform:translateY(-50%);position:inherit;}

/*positions*/
.bto.posRel{position:relative!important;}
.bto.posAbs{position:absolute!important;}
.bto.posFix{position:fixed!important;}

/*background-color*/
.bto.noBgColor{background-color:none!important;}
.bto.bgWhite{background-color:white!important;}
.bto.bgGris1{background-color:#fafafa!important;}
.bto.bgGris2{background-color:#efefef!important;}
.bto.bgGris3{background-color:#e5e5e5!important;}

/*border*/
.bto.borderGris1{border:1px solid #efefef;}
.bto.borderGris2{border:1px solid #a5a5a5;}
.bto.borderRed1{border:1px solid #d46666;}

/*border-radius*/
.bto.noBorderRadius{border-radius: 0px!important;}
.bto.borderRadius2{border-radius: 2px!important;}
.bto.borderRadius5{border-radius: 5px!important;}
.bto.borderRadius7{border-radius: 7px!important;}
.bto.borderRadius10{border-radius: 10px!important;}

/*border width*/
.bto.noBorder{border-width:0px!important;}
.bto.border1{border-width:1px!important;}
.bto.border2{border-width:2px!important;}
.bto.border4{border-width:4px!important;}
.bto.border5{border-width:5px!important;}

/*no border*/
.bto.noBorderTop{border-top:none!important;}
.bto.noBorderBottom{border-bottom:none!important;}
.bto.noBorderLeft{border-left:none!important;}
.bto.noBorderRigth{border-right:none!important;}

/*text-align*/
.bto.textCenter{text-align:center!important;}
.bto.textLeft{text-align:left!important;}
.bto.textRight{text-align:right!important;}

/*margin px*/
.bto.noMargin{margin:0px!important;}
.bto.margin5{margin:5px!important;}
.bto.margin10{margin:10px!important;}
.bto.margin20{margin:20px!important;}
.bto.margin50{margin:50px!important;}
.bto.margin100{margin:100px!important;}
.bto.marginAuto{margin:auto!important;}
.bto.margin40Auto{margin:40px auto!important;}

/*margin pxpx*/
.bto.margin20x10{margin:20px 10px!important;}

/*width*/
.bto.w1{width:1px!important;}
.bto.w30{width:30px!important;}
.bto.w30p{width:30%!important;}
.bto.wFull{width:100%!important;}
.bto.autow{width:auto!important;}

/*min-width*/
.bto.minw50{min-width:50px!important;}
.bto.minw60{min-width:60px!important;}
.bto.minw150{min-width:150px!important;}
.bto.minw250{min-width:250px!important;}
.bto.minw350{min-width:350px!important;}
.bto.minwFull{min-width:100%!important;}

/*max-width*/
.bto.maxw70{max-width:60px!important;}
.bto.maxw600{max-width:600px!important;}
.bto.maxw800{max-width:800px!important;}
.bto.maxwFull{max-width:100%!important;}

/*height*/
.bto.h1{height:1px!important;}
.bto.h30{height:30px!important;}
.bto.hFull{height:100%!important;}
.bto.autoh{height:auto!important;}

/*min-height*/
.bto.minh30{min-height:30px!important;}
.bto.minh50{min-height:50px!important;}
.bto.minh60{min-height:60px!important;}
.bto.minh90{min-height:90px!important;}
.bto.minhFull{min-height:100vh!important;}

/*max-height*/
.bto.maxh90{max-height:90px!important;}
.bto.maxhFull{max-height:100vh!important;}

/*padding*/
.bto.noPadding{padding:0px!important;}
.bto.padding10{padding:10px!important;}

/*box*/
.bto.box1{box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);}
