/*
 * @Author:Alberto Acuña (Beto)
 * bto css v1
 * created: 20/12/16
 */
body.bto{
  padding:0px;
  margin:0px;
  border:0px;
}
.bto.full.page{
  max-width: 100%;
  min-width: 100%;
  width: auto;
  min-height: 100vh;
  max-height: 100vh;
  height: auto;
}

/*div positions*/
.bto.middle{
  top:50%;
  transform:translateY(-50%);
  position:absolute;
}
.bto.center{
  left:50%;
  transform:translateX(-50%);
  position:absolute;
}

/*form inputs*/
input.bto.search {
    border:2px solid #dadada;
    border-radius:7px;
    padding: 5px 5px 3px 5px;
}

input.bto.search:focus {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}





/*background-color*/
.bto.bgWhite{background-color:white;}
.bto.bgGris1{background-color:#fafafa;}
.bto.bgGris2{background-color:#969896;}

/*text-align*/
.bto.textCenter{text-align:center;}
.bto.textLeft{text-align:left;}
.bto.textRight{text-align:right;}

/*margin*/
.bto.marginAuto{margin:auto!important;}
.bto.margin0px{margin:0px!important;}
.bto.margin10px{margin:10px!important;}
.bto.margin20px{margin:20px!important;}
.bto.margin50px{margin:50px!important;}
.bto.margin100px{margin:100px!important;}

/*max-width*/
.bto.mw600{max-width:600px!important;}
.bto.mw800{max-width:800px!important;}
.bto.mwFull{max-width:100vw!important;}

/*min-height*/
.bto.mhFull{min-height:100vh!important;}











