/*
 * @Author:Alberto Acuña (Beto)
 * bto css v1
 * created: 20/12/16
 */
body.bto{
  padding:0px;
  margin:0px;
  border:0px;
}
.bto.full.page{
  max-width: 100%;
  min-width: 100%;
  width: auto;
  min-height: 100vh;
  max-height: 100vh;
  height: auto;
}

/*div positions*/
.bto.middle{
  top:50%;
  transform:translateY(-50%);
  position:absolute;
}
.bto.center{
  left:50%;
  transform:translateX(-50%);
  position:absolute;
}

/*text positions*/
.bot.text-center{
  text-align:center;
}

/*form inputs*/
input.bto.search {
    border:2px solid #dadada;
    border-radius:7px;
    padding: 5px 5px 3px 5px;
}

input.bto.search:focus {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}





/*customs css*/
.bto.margin0px{margin:0px!important;}
.bto.margin10px{margin:10px!important;}
.bto.margin20px{margin:20px!important;}
.bto.margin50px{margin:50px!important;}
.bto.margin100px{margin:100px!important;}
